:root{
    /* FONT */
    --font-dm-sans:"DM Sans", sans-serif;

    /* COLORS */
    --bg-icon:#131313;
    --bg-arrow-color:rgba(0,0,0,7);
    --footer-background: linear-gradient(to right, #ae2896, #509bf5);
    --branco: #ffffff;
    --preto-brackground: #121212;
    --preto: #000;
    --creme: #b3b3b3;
}       